<div class="container-fluid footer">
    <div class="row">
        <div class="col-5">
            ¿NECESITAS AYUDA?<br/>
            <p class="prueba">
                0264 123 4567<br/>
                enquiry@geekshbubstravels.com
            </p>
            <p>
                Lun-Vie 9:30-19:00 Sab 10:00-14:00
            </p>
        </div>
        <div class="col-3">
            INFORMACIÓN<br/><br/>
            Quienes somos<br/>
            Preguntas frecuentes<br/>
            Politica de privacidad<br/>
            Condiciones generales<br/>
            Aviso legal<br/>
            contacto<br/>
            Programa de puntos

        </div>
        <div class="col-4">
            SUBSCRIBETE A LA NEWSLETTER
            <form>
                <div class="form-grou">
                     <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      <button type="button" class="btn btn-warning btn-sm">SUSCRIBETE</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row footer2">
        <div class="col-12 text-center">
            GeeksHubs Travels 2018 Todos los derechos reservados
        </div>
    </div>
</div>