<div class="container-fluid footer">
    <div class="row">
        <div class="col-5 footi">
            ¿NECESITAS AYUDA?<br/>
            <p class="prueba">
                0264 123 4567<br/>
                enquiry@geekshbubstravels.com
            </p>
            <p>
                Lun-Vie 9:30-19:00 Sab 10:00-14:00
            </p>
            <section class="footer-res-mobile">
                SUBSCRIBETE A LA NEWSLETTER
            <form>
                <div class="form-group footform">
                     <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      <button type="button" class="btn btn-warning btn-sm">SUSCRIBETE</button>
                </div>
            </form>
            <div class="row">
                       <div>
                               <a href="#"><img class="icons" src="/img/face.png" alt="Facebook"></a>
                       </div>
                       <div>
                               <a href="#">
                                   <img class="icons" src="/img/was.png" alt="whatsapp"></a>
                       </div>
                       <div>
                           
                               <a href="#">
                                   <img class="icons" src="/img/twit.png" alt="twitter"></a>
                       </div>
                        <div>
                           
                               <a href="#">
                                   <img class="icons" src="/img/skype.png" alt="skype"></a>
                       </div>
                        <div>
                           
                               <a href="#">
                                   <img class="icons" src="/img/insta.png" alt="instagram"></a>
                       </div>
                        <div>
                           
                               <a href="#">
                                   <img class="icons" src="/img/yout.png" alt="youtube"></a>
                       </div>
                   </div>
            </section>
        </div>
        <div class="col-3 footc">
            INFORMACIÓN<br/><br/>
            Quienes somos<br/>
            Preguntas frecuentes<br/>
            Politica de privacidad<br/>
            Condiciones generales<br/>
            Aviso legal<br/>
            contacto<br/>
            Programa de puntos
        </div>
        <div class="col-4 footii">
            SUBSCRIBETE A LA NEWSLETTER
            <form>
                <div class="form-group footd">
                     <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      <button type="button" class="btn btn-warning btn-sm">SUSCRIBETE</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        
        <div class="col-12 text-center footer2">
            GeeksHubs Travels 2018 Todos los derechos reservados
        </div>
    </div>
</div>