<div class="container-fluid">
   <div class="row">
       <div class="col-12 image">
           <div class="row">
               <div class="col-3 pp">
                    <img class="logo" src="/img/iconoweb.png" alt="icono web"><br/>
                    <b>GeeksHubs<br/>Travels</b>
               </div>

               <div class="col-6">
                   <nav class="nav justify-content-center pageLinks">
                       <a class="nav-link head" href="#">Destinos</a>
                       <a class="nav-link head" href="#">Quienes somos</a>
                       <a class="nav-link head" href="#">Donde estamos</a>
                   </nav>
               </div>
               <div class="col-3">
                   <div class="row justify-content-end">
                       <div>
                               <a href="#"><img class="icons" src="/img/fb-ico.png" alt="Facebook"></a>
                       </div>
                       <div>
                               <a href="#">
                                   <img class="icons" src="/img/ws-ico.png" alt="whatsapp"></a>
                       </div>
                       <div>
                           
                               <a href="#">
                                   <img class="icons" src="/img/tt-ico.png" alt="twitter"></a>
                       </div>
                        <div>
                           
                               <a href="#">
                                   <img class="icons" src="/img/ico-youtube.png" alt="twitter"></a>
                       </div>
                        <div>
                           
                               <a href="#">
                                   <img class="icons" src="/img/ico-insta.png" alt="twitter"></a>
                       </div>
                        <div>
                           
                               <a href="#">
                                   <img class="icons" src="/img/ico-insta2.png" alt="twitter"></a>
                       </div>
                   </div>
               </div>

           </div>

                <div class="row">
                    <div class="col-3">
                        
                    </div>
                    <div class="col-6">
                        <p class="text-left">
                            <b>Viaja!<br/>Descubre lugares maravillosos!</b>
                        </p>
                        <p class="text-center">
                            <button type="button" class="btn btn-warning btn-lg">ver destinos</button>
                        </p>
                    </div>
                    <div class="col-3">

                    </div>

                </div>

       </div>
   </div>
</div>