<a name="destinos"></a>
<div class="dest">
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/img/beijing.JPG" alt="Beijing">
        <div class="card-img-overlay">
            <div class="row"> 
                <div class="col-8 texto-izq">Save 90$ pay only$</div>
                <div class="col-4 texto-der">632$</div>
            </div>
        </div>
    <div class="card-body">
        <h5 class="card-title">Beijing</h5>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="/img/madrid.JPG" alt="Madrid">
        <div class="card-img-overlay">
            <div class="row">
                <div class="col-8 texto-izq">Save 90$ pay only</div>
                <div class="col-4 texto-der">613$</div>
            </div>
        </div>
    <div class="card-body">
      <h5 class="card-title">Madrid</h5>
    </div>
  </div>

    <div class="card">
        <img class="card-img-top" src="/img/ciudad_mexico.JPG" alt="Ciudad de Mexico">
            <div class="card-img-overlay">
                <div class="row">
                    <div class="col-8 texto-izq">Save 90$ pay only</div>
                    <div class="col-4 texto-der">585$</div>
                </div>
            </div>
    <div class="card-body">
      <h5 class="card-title">Ciudad de Mexico</h5>
    </div>
  </div>
</div>

<div class="card-deck ab">
    <div class="card">
        <img class="card-img-top" src="/img/new_york.JPG" alt="New York">
            <div class="card-img-overlay">
            <div class="row">
                <div class="col-8 texto-izq">Save 90$ pay only</div>
                <div class="col-4 texto-der">859$</div>     
            </div>
             </div>
  
    <div class="card-body">
      <h5 class="card-title">New York</h5>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/tokyo.JPG" alt="Tokyo">
                   <div class="card-img-overlay">
        <div class="row">
            <div class="col-8 texto-izq">Save 90$ pay only</div>
        <div class="col-4 texto-der">753$</div>
            </div>
  </div>
    <div class="card-body">
      <h5 class="card-title">Tokyo</h5>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/buenos_aires.JPG" alt="Buenos Aires">
            <div class="card-img-overlay">
        <div class="row">
            <div class="col-8 texto-izq">Save 90$ pay only</div>
        <div class="col-4 texto-der">671$</div>
            </div>
  </div>
    <div class="card-body">
      <h5 class="card-title">Buenos Aires</h5>
    </div>
  </div>
</div>
</div>

<a name="quienessomos"></a>
<div class="quiens">
<div class="container-fluid quienessomos">    
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-3 somos textquiensom">
           <h3>QUIENES SOMOS</h3><br/>
            GeeksHubs Travels es una agencia de viajes
            online creada en 2009 por un equipo de viajeros
            entusiastas que deciden hacer de su pasión
            por conocer el mndo un modo de vida. Desde
            nuestros inicios hemos diseñado más de 500
            viajes organizados a diferentes destinos de Europa,
            Norteamérica y Asia. Nuestro objetivo ahora
            es ir ampliando horizontes poco a poco.<br/>
            <button type="button" class="btn btn-outline-primary">Descubrir</button>
        </div>
        <div class="col-7">

        </div>
    </div>
</div>
</div>

<a name="dondeestamos"></a>
<div class="dondes">
<div class="container-fluid maps">
    <div class="row">
        <div class="col-6">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4354.9700932662545!2d-0.3570584689460066!3d39.482229179428444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604898947abad3%3A0x5aae0e0b7fa0358a!2sGeeksHubs+Space+Valencia!5e0!3m2!1ses!2ses!4v1528041623315" width="650" height="425" frameborder="0" style="border:0" allowfullscreen class="imagmaps"></iframe>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12 formquien">
                    E: enquiry@artiotravel.com<br/>
                    P:0264 123  4567<br/><br/>
                    Give us a call or drop by anytime, we endeavour to answer all<br/>
                    enquiries within 24 hours on business days.<br/><br/>
                    We are open from 8.30 A.M - 4.00  P.M week days.
                </div>
                <div class="col-12">
                    <form>
                        <div class="form-row formquien">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                             <div class="form-group col-md-6">
                               <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                             </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 formquien">
                                 <input type="text" class="form-control" placeholder="Phone">
                            </div>
                             <div class="form-group col-md-6 formquien">
                                   <input type="text" class="form-control" placeholder="Country">
                             </div>
                        </div>
                         <div class="form-group formquien">
                             <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
                         </div>
                         <p><b>* PLEASE COMPLETE ALL FIELDS CORRECTLY </b></p>
                    </form>
                    <button type="button" class="btn btn-warning btn-sm">Send Message</button>
                </div>
            </div>

        </div>
    </div>
</div>
</div>