<div class="container destinos">
    <div class="row">
        <div class="col-4">
             <a href="#"><img class="imagindex" src="/img/beijing.JPG" alt="Beijing"></a>
             <p class="text-center">Beijing</p>
        </div>
        <div class="col-4">
             <a href="#"><img class="imagindex" src="/img/buenos_aires.JPG" alt="Buenos Aires"></a>
             <p class="text-center">Buenos Aires</p>
        </div>
        <div class="col-4">
             <a href="#"><img class="imagindex" src="/img/ciudad_mexico.JPG" alt="Ciudad de Mexico"></a>
             <p class="text-center">Ciudad de México</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
               <a href="#"><img class="imagindex" src="/img/new_york.JPG" alt="Nueva York"></a>
               <p class="text-center">Nueva York</p>
        </div>
        <div class="col-4">
               <a href="#"><img class="imagindex" src="/img/tokyo.JPG" alt="Tokyo"></a>
               <p class="text-center">Tokyo</p>
        </div>
        <div class="col-4">
               <a href="#"><img class="imagindex" src="/img/travel_3.jpg" alt="Nueva Delhi"></a>
               <p class="text-center">Nueva Delhi</p>
        </div>        
    </div>
</div>

<div class="container quienessomos">    

</div>
<div class="container">

</div>