<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
 
    <link rel ="stylesheet" href="./components/bootstrap/dist/css/bootstrap.min.css" />
       <link rel='stylesheet' type="text/css" href='./stylesheets/style.css' />
     
  </head>
  <body>
    {{>header}}
    
    {{{body}}}
    
    {{>footer}}

    <script type ="text/javascript" src="./components/jquery/dist/jquery.js"></script>
     <script type ="text/javascript" src="./components/bootstrap/dist/js/bootstrap.js"></script>
     <script type="text/javascript" src="./dist/js/script.min.js"></script>
  </body>
</html>
