
  {{#if name}}
<div><h1>HOLA {{name}}!!</h1></div>
  {{/if}}

<form class="needs-validation" method="post" action="/regeneration/cambio" novalidate>
  <div class="form-row">
   

 
      <label for="exampleInputPassword1">Password</label>
      <div class="input-group">
        <input type="password" name="pass1" class="form-control pass1" id="exampleInputPassword1" placeholder="Password" required>
        <input type="password" name="pass2" class="form-control pass2" id="exampleInputPassword2" placeholder="Password" required>
      </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>

