Aqui no sale una mierda<br/>
Hola<br/>
Has solicitado una nueva contraseña en la pag de viajes de la agencia GeeksHubs Academy<br/>

<a href="http://localhost:3000/regeneration/hash/{{codigo}}">Pincha aqui</a><br/>

apuntantela, subnormal <br/>

pincha aqui para recuperar: <br/>
localhost:3000/regeneration/hash/{{codigo}}

